<div class="container">
  <header>
    <span>My to do list</span>
  </header>
  <section>
    <aside>
      <app-account></app-account>
        <app-list-menu (fireEvent)="handleEvent($event)" [lists]="lists$ | async"
                       [selectedId]="todoSelectedListId$ | async"></app-list-menu>
    </aside>
    <app-list (fireEvent)="handleEvent($event)" [tasks]="tasks$ | async" [listId]="todoSelectedListId$ | async"
              [listName]="todoSelectedListName$ | async"></app-list>
  </section>
</div>
