:host {
  border-left: 1px solid #2a2a2a;
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  background: linear-gradient(to right, transparent, transparent 47px, rgba(78, 53, 55, 0.13) 47px, rgba(78, 53, 55, 0.13) 48px, transparent 48px, transparent 100%), url('/assets/images/pattern.jpg') repeat top left;
  overflow: auto;
}

.heading {
  padding-left: 47px;
  border-bottom: 1px solid rgba(78, 53, 55, 0.13);
}

.heading-container {
  padding: 20px 16px 14px 10px;
}

.title {
  font-size: 12px;
  color: #2c2f32;
  margin-bottom: 15px;
}

.actions {
  font-size: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #0f75cb;
  span {
    cursor: pointer;
    user-select: none;
    &:first-child {
      margin-right: 10px;
    }
  }
  .disabled {
    color: #ccc;
  }
}
